header {
	background-image: url(/assets/logo/header.jpeg);
	width: auto;
	max-height: 200px;
}
body {
	font-family: 'Archivo Black', sans-serif;
}
h1, h2 {
	font-family: 'Archivo Black', sans-serif;
}
#logopochlib {
	visibility: hidden;
}
#myBooks,#addbookButton,#content,.book-list {
	text-align: center;
}
#myBooks {
	h1 {
		font-family: 'Lora', serif;
		color: #111;
		font-size: 55px;
		font-weight: 400;
		line-height: 64px;
		margin: 0 0 20px;
		text-align: center;
		*text-transform: uppercase;
	}
	h2 {
		font-weight: bold;
		font-weight: lighter;
	}
}
img {
	&.HeaderLogo {
		width: 30%;
		display: block;
		margin: auto;
	}
}
.title {
	border: 1px solid #f0f5f9;
	background-color: transparent;
	font-family: 'Lora', serif;
}
.hidden {
	display: none;
}
#addbookButton {
	border: none;
	width: 150px;
	height: 35px;
	background-color: #21A89D;
	color: ivory;
	font-size: 90%;
	border-radius: 3px 3px 3px 3px;
	box-shadow: #21A89D;
	border-color: #21A89D;
	&:hover {
		background-color: #00759D;
		outline: transparent;
	}
}
.book-list {
	margin-top: 50px;
	visibility: hidden;
}
#searchButton, #deletedButton, label {
	display: block;
	width: 150px;
}
#searchButton {
	border: none;
	width: 150px;
	height: 35px;
	background-color: #21a89d;
	border-radius: 3px 3px 3px 3px;
	color: ivory;
	outline: transparent;
	&:hover {
		background-color: #00759D;
		outline: transparent;
	}
}
#deletedButton {
	border: none;
	width: 150px;
	height: 35px;
	background-color: #DF594F;
	border-radius: 3px 3px 3px 3px;
	color: ivory;
	margin-top: 0%;
	&:hover {
		background-color: #DE274F;
		outline: transparent;
	}
}
.form-container {
	display: inline-block;
	width: 100%;
	text-align: left;
}
#bookTitle, #author {
	width: 100%;
}
#deletedButton, #searchButton, label {
	margin-top: 10px;
}
label {
	text-align: left;
}
.container-card {
	width: 45%;
	align-self: stretch;
	margin-bottom: 20px;
}
.card-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.card-body, h1 {
	background-color: #f0efeb;
}
.far-bookmark {
	size: 20px;
	position: -ms-page;
}
