/*font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
body #myBooks h1 {
	font-family: Montesserat, sans serif;
	color: #494949;
	
  }
  
  * {
	text-align: center;
  }
  
  header #logopochlib {
	margin: 100px, 0, 3px, 0;
  }

  .hidden {
    display: none;
  }
  
  